.DignityProduct {
  background-color: #f5f5f5;
  height: 417px;
}

.DignityProduct h1 {
  float: left;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-top: 50px;
  margin-left: 464px;
}

.DignityProduct section span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-left: 6px;
  height: 63px;
  display: inline-block;
  width: 530px;
}

.DignityProduct section {
  float: left;
  width: 640px;
  height: 63px;
  margin-top: 29px;
  margin-right: -56px;
}

.sectionImage {
  float: left;
  width: 32px;
  height: 32px;
  background-color: #445161;
  background-image: url(../img/Layer2.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  margin-left: 56px;
  margin-top: 5px;
}
