footer p{
  color: #445162;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}
footer:after{
    content: ' ';
    clear: both;
    display: block;
  }
