#main {
  width: 1280px;
  box-shadow: 0 0 2px black;
  margin: 0 auto;
}

#main:after{
  content: ' ';
  clear: both;
  display: block;
}

body {
  font-family: Arial;
}

header {
  height: 323px;
  background-color: #445162;
}

header h1{
  float: left;
  margin-left: 50px;
  margin-top: 50px;
  color:  #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}


header ul {
  clear: both;
  margin-left: 86px;
  margin-top: 51px;
}

header ul li {
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  list-style-image: url("../img/checkicon.png");
}

header .img {
  margin-top: 50px;
  margin-right: 50px;
  width: 469px;
  height: 214px;
  background-color: #fff;
  float: right;
}
