@font-face {
    font-family: Montserrat ; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin: 0;
}

#main {
    margin: auto;
    width: 1920px;
}

.header:after {
    content: '';
    clear: both;
    display: block;
}

.header {
    background: url("../img/photo.png") center center / cover no-repeat;
    position: relative;
}

.header .headLogo {
    width: 199px;
    height: 56px;
    position: absolute;
    left: 186px;
    top: 40px;
}

.header .headLogo .logo {
    width: 64px;
    height: 56px;
    background: url("../img/logos.png") 0 0 / contain;
    float: left;
}

.header .headLogo h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: right;
    float: left;
    margin-top: 12px;
}
@media (max-width: 839px) {
    .headLogo{
        left:20px !important;
    }
    #rightArrow, #leftArrow{
        display: none;
    }
}
.menu {
    position: absolute;
    right: 211px;
    top: 67px;
}

.menu li {
    float: left;
    list-style-type: none;
}

.menu li a {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    line-height: 48px;
    text-decoration: none;
    display: block;
    padding: 0 20px;
}

.menu .Cart, .menu .Search {
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 28px;
}

.menu .Cart {
    background: url("../img/icon-cart.png") center center / contain no-repeat;
}

.menu .Search {
    background: url("../img/icon-search.png") 0 0 / contain no-repeat;
}
@media (max-width: 1438px) {
    .menu{
        right: 20px;
    }

}
@media (max-width: 1255px) {
    .menu {
        height: 54px;
        width: 50px;
        overflow: hidden;
    }

    .menu li {
        float: none;
        background: white;
        border-radius: 15px;
        margin-top: 3px;
    }

    .menu a {
        width: 100%;
        height: 10px;
        padding: 0;
        color: transparent !important;
    }
}

.text {
    height: 261px;
    width: 598px;
    text-align: center;
    padding-top: 309px;
    margin: 0 auto;
}

.text h4 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.text h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.text P {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;

}

.text input {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 53px;
    text-align: center;
    margin-bottom: 20px;
    float: left;
    border: 0;
    margin-left: 210px;
    margin-top: 51px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px; /* Приближение из-за подстановки шрифтов */
    box-shadow: 0 3px 2px #786559;
    outline: 0;
}

.text input:hover {
    background-color: #a99685;
}

.text input:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}


@media (max-width: 608px) {
    .text{
        width: 100%;
    }
}
.sliderBlock {
    margin-top: 257px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.slider {
    width: 140px;
    margin: 0 auto;
    padding: 0;
}

.slider li {
    height: 11px;
    width: 11px;
    list-style-type: none;
    float: left;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 3px solid transparent;
}

.slider li:first-child {
    margin-left:0;
}

.slider li:hover {
    border: 3px solid #d3c1ad;
    background-color: transparent;
    transform: scale(1.2);
}

.web:after {
    content: '';
    clear: both;
    display: block;
}

.web {
    margin: auto;
    clear: both;
}

#webAppGrid {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(auto-fit, 266px) minmax(0px, 1fr);
    grid-gap: 33px;
    padding-top: 89px;
}

@media (max-width: 1229px) {
    #webAppGrid {
        grid-template-columns: repeat(auto-fit, 266px);
        grid-template-rows: 213px auto;
        justify-content: center;
    }

    .webApp {
        grid-column: auto !important;
    }
}

.webApp {
    width: 266px;
    height: 213px;
    float: left;
}

.webApp h2 {
    font-family: Raleway;
    color: #555555;
    font-size: 22px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.webApp svg {
    fill: #555555;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    display: block;
    transition: 1s;
}

.webApp:hover svg {
    fill: #c7b299;
    transform: scale(1.2);
}

.webApp:hover h2 {
    color: #c7b299;
}

.Block {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.bottom {
    background-color: #f1eee9;
    width: 70px;
    height: 3px;
    margin: 0 auto;
}

.webApp:hover .Block .bottom {
    background-color: #c7b299;
}

#leftArrow {
    width: 40px;
    height: 73px;
    background: url("../img/left.png");
    position: absolute;
    top: 475px;
    left: 150px;
}

#leftArrow:hover {
    transform: rotate(180deg);
    background: url("../img/right.png");
}

#rightArrow {
    width: 40px;
    height: 73px;
    background: url("../img/left.png");
    position: absolute;
    top: 475px;
    right: 150px;
    transform: rotate(180deg);

}

#rightArrow:hover {
    transform: rotate(0deg);
    background: url("../img/right.png");
}

.Ideas:after {
    content: '';
    clear: both;
    display: block;
}

.Ideas {
    background-color: #fbfaf8;

}

.Realization {
    font-family: Raleway;
    color: #555555;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.Realiz {

    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;

}

.ShotImg {
    position: relative;
    height: 481px;
    width: 1176px;
    margin: 40px auto 0;
}

.ShotImg .Shot {
    position: absolute;
    width: 770px;
    left: 230px;
    height: 400px;
}

@media (max-width: 773px) {
    .Shot {
        width: 100% !important;
        background-position: center center !important;
        background-size: contain;
    }
}

@media (max-width: 1174px) {
    .Shot {
        position: static !important;
        margin: 0 auto;
    }

    .ShotImg {
        width: 100%;
        height: auto;
    }

    .ShotImg:after {
        display: block;
        content: '';
        clear: both;
    }

}

.Bottom:after {
    content: '';
    clear: both;
    display: block;
}

.Bottom {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);

}

.Bottom h3 {
    font-family: Raleway;
    color: #c7b299;
    font-size: 28px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    font-family: Raleway;
    color: #ffffff;
    font-size: 28px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    float: left;
    margin-left: 376px;
    margin-top: 48px;
}

.Bottom h4 {
    font-family: Montserrat;
    color: #615855;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    margin-left: -525px;
    float: left;
    margin-top: 88px;
}

.Button {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 53px;
    text-align: center;
    float: left;
    border: 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px; /* Приближение из-за подстановки шрифтов */
    box-shadow: 0 3px 2px #786559;
    outline: 0;
    margin-top: 50px;
    margin-left: 470px;
}

.Button:hover {
    background-color: #a99685;
}

.Button:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}

@media (max-width: 1542px) {
    .Bottom h3 {
        margin-left: 0;
    }
}

@media (max-width: 1167px) {
    .Bottom {
        padding-bottom: 20px;
    }

    .Bottom > div:after {
        content: '';
        clear: both;
        display: block;
    }

    .Bottom > div {
        width: 100%;
    }

    .Bottom h3, .Bottom h4 {
        text-align: center;
        width: 100%;
        margin: 10px;
    }

    .Button {
        display: block;
        margin: 0 auto;
        float: none;
    }
}

.Projects:after {
    content: '';
    clear: both;
    display: block;
}

.Projects {
    text-align: center;
}

.Projects:after {
    content: ' ';
    clear: both;
    display: block;
}

.menuLi {
    list-style-type: none;
    width: 551px;
    margin: 40px auto 0;
}

.menuLi a {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    min-width: 70px;
    height: 32px;
    box-shadow: 0 0 1px black;
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 750px) {
    .menuLi {
        padding: 0;
        width: 441px;
    }

    .menuLi a {
        margin-left: 0px;
        padding-left: 4px;
        padding-right: 4px;

    }
}

.menuLi a:hover {
    background-color: #998675;
    color: #ffffff;
}

.Our {
    font-family: Raleway;
    color: #555555;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
}

.Investigationes {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    width: 757px;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 757px) {
    .Investigationes  {
        width: 100%;
    }
}

.video:after {
    content: '';
    clear: both;
    display: block;
}

.video {

    background: url("../img/photo1.png");
}

.mob:after {
    content: '';
    clear: both;
    display: block;
}

.mob {
    background-color: #fbfaf8;

}

.imgMod {
    background: url("../img/iPhone.png") center center/contain no-repeat;
    width: 423px;
    height: 616px;
    float: left;
    margin-left: 423px;
    margin-top: 79px;
}

@media (max-width: 1470px) {
    .imgMod {
        margin-left: 0;
    }
}

.Excellent {
    font-family: Raleway;
    color: #555555;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding-top: 195px;

}

.Qisi {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: left;

}

.ul {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    float: left;
}

.ul li {
    background: url("../img/01.png") center left no-repeat;
    padding-left: 30px;
    list-style-type: none;
    margin-bottom: 12px;

}

.WaxomVideo {
    background: url("../img/icon-play.png") center center no-repeat;
    font-family: Raleway;
    color: #ffffff;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding-top: 354px;
}

.te {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.tem {
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-bottom: 22px;
    margin: 0;
}

.icon {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    text-transform: uppercase;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(auto-fit, 140px) minmax(0px, 1fr);
    grid-gap: 73px;
    align-items: center;
    justify-items: center;
    padding-top: 30px;
    justify-content: center;
    padding-bottom: 30px;
}

.icon:after {
    content: '';
    clear: both;
    display: block;
}

.icon > div {
    height: 171px;
    width: 140px;
    text-align: center;

}

.icon > div div {
    width: 30px;
    height: 0;
    border-bottom: 1px solid #ffffff;
    border-radius: 25%;
    margin-left: 50px;
    margin-top: 30px;
}

.icon img {
    width: 44px;
    height: 44px;
}

.icon h3, .icon h4 {
    font-family: Montserrat;
    margin: 30px 0 21px;
    color: #ffffff;
    font-size: 48px; /* Приближение из-за подстановки шрифтов */
    font-weight: 200;
    line-height: 36px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.icon h4 {
    color: #c7b299;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0;
}

@media (max-width: 1138px) {
    .icon {
        grid-template-columns: repeat(auto-fit, 140px);
        grid-template-rows: 171px auto;
    }

    .icon > div {
        grid-column: auto !important;
    }
}

.Posts:after {
    content: '';
    clear: both;
    display: block;
    padding-bottom: 35px;
}

.Posts p {
    width: 757px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0 auto;
}

.Posts h2 {
    font-family: Raleway;
    color: #555555;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 757px) {
    .Posts p {
        width: 100%;
    }
}

.PostsGrid {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(auto-fit, 370px) minmax(0px, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    justify-content: center;

}

.PostsGrid > div {
    width: 370px;
    height: 395px;
    box-shadow: 0 0 1px #4a4a4a;
}

.PostsGrid > div .back {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
    z-index: 1;
    transition: 0.5s;
    opacity: 0;
}

.PostsGrid > div:hover .back {
    opacity: 1;
}

.PostsGrid > div:hover .postFooter {
    background-color: #362f2d;
}

.PostsGrid > div:hover .postFooter h4 {
    color: #c7b299;
}

.PostsGrid > div:hover .postFooter p {
    color: #ffffff;
}

.PostsGrid > div:hover .calendar div:first-child {
    background-color: #c7b299;
}

.PostsGrid > div:hover .calendar div:last-child {
    background-color: #a48d72;
}

.PostsGrid > div .postImage {
    position: relative;
    width: 100%;
    height: 220px;
}

.PostsGrid > div .postFooter {
    width: 100%;
    height: 175px;
    background-color: #ffffff;
    transition: 0.5s;
}

@media (max-width: 1230px) {
    .PostsGrid {
        grid-template-columns: repeat(auto-fit, 370px);
        grid-template-rows: 395px auto;
    }

    .PostsGrid > div {
        grid-column: auto !important;
    }
}

.postFooter h4, .postFooter p, .postFooter a {
    float: left;
    text-align: left;
    margin-left: 30px;
}

.postFooter h4 {
    font-family: Raleway;
    margin-top: 30px;
    margin-bottom: 0;
    color: #555555;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
}

.postFooter p {
    font-family: Montserrat;
    margin-top: 19px;
    margin-bottom: 27px;
    color: #8c8c8c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    width: calc(100% - 30px);
}

.postFooter a {
    font-family: Montserrat;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color: #c7b299;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-decoration: none;
}

.postFooter a:before {
    content: '';
    position: absolute;
    left: 85px;
    top: 6px;
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    z-index: 2;
    transition: 0.5s;
}

.Claritas {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
    float: left;
    width: 50px;
}

.Claritas div:first-child {
    transition: 0.5s;
    float: left;
    width: 50px;
    height: 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #363636;
    color: #ffffff;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.Claritas div:first-child:after {
    content: '30';
    line-height: 35px;
}

.Claritas div:last-child {
    font-family: Roboto;
    transition: 0.5s;
    float: left;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #252525;
    width: 50px;
    height: 25px;
    color: #ffffff;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.Claritas div:last-child:after {
    content: 'Sep.';
    line-height: 25px;
}

.cafe {
    background-image: url("../img/photo20.png");
    min-height: 489px;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(4, 210px) minmax(0px, 1fr);
    grid-template-rows: 210px auto;
    grid-gap: 90px;
    justify-content: center;
}

.cafe img {
    margin-top: 140px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

@media (max-width: 1290px) {
    .cafe a {
        grid-column: auto !important;
    }

    .cafe {
        grid-template-columns: repeat(4, 210px);
    }
}

@media (max-width: 1110px) {
    .cafe {
        grid-template-columns: repeat(2, 210px);
        grid-template-rows: 105px auto;
    }

    .cafe img {
        margin-top: 40px;
    }
}

@media (max-width: 540px) {
    .cafe {
        grid-template-columns: repeat(2, minmax(0, 210px));
        grid-template-rows: minmax(0, 105px) auto;
    }
}

.RecentPosts {
    min-height: 508px;
    background-color: #191919;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(auto-fit, 258px) minmax(0px, 1fr);
    grid-gap: 42px;
    justify-content: center;
    padding-bottom: 20px;
}

.RecentPosts a {
    font-family: Montserrat;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    color: #d1d1d1;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: left;

}

.RecentPosts a:hover {
    color: #c7b299;
}

.RecentPosts a:before {
    content: '';
    position: absolute;
    left: 85px;
    top: 5px;
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    z-index: 2;
    transition: 0.5s;
}

.RecentPosts hr {
    background-color: #252525;
    width: 100%;
    height: 2px;
    border: 0;
}

.RecentPosts div {
    width: 258px;
    margin-top: 80px;
}

.RecentPosts div div:hover p {
    color: #c7b299;
}

.RecentPosts div div:hover .date {
    color: #ffffff;
}

.RecentPosts .BlockLogo {
    margin: 0;
    float: none;
}

.RecentPosts h4 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom: 23px;
}

.RecentPosts p {
    font-family: Montserrat;
    color: #545454;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 2px 0 21px;
}

.RecentPosts .date {
    font-family: Montserrat;
    color: #363636;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 0;
}

.RecentPosts div img {
    width: 127px;
    height: 98px;
}

@media (max-width: 1032px) {
    .RecentPosts {
        grid-template-columns: repeat(auto-fit, 258px);
        grid-template-rows: 325px auto;
    }

    .RecentPosts > div {
        grid-column: auto !important;
    }
}

@media (max-width: 1920px) {
    #main {
        width: 100%;
    }
}

