@font-face {
    font-family: Montserrat ; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
}

body  {
    margin: 0;
}

#main {
    width: 1920px;
    height: 1024px;
    margin: auto;
}

.header {
    background-image: url("../img/photo.png");
    height: 1024px;
    position: relative;
}

.header .headLogo {
    width: 199px;
    height: 56px;
    float: left;
    margin-left: 186px;
    margin-top: 40px;
}

.header .headLogo .logo {
    width: 64px;
    height: 56px;
    background: url("../img/logos.png") 0 0 / contain;
    float: left;
}

.header .headLogo h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: right;
    float: left;
    margin-top: 12px;
}

.menu {
    float: right;
    margin-right: 211px;
    margin-top: 67px;
}

.menu li {
    float: left;
    list-style-type: none;
}

.menu li a {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    line-height: 48px;
    text-decoration: none;
    display: block;
    padding: 0 20px;
}

.menu .Cart, .menu .Search {
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 28px;
}

.menu .Cart {
    background: url("../img/icon-cart.png") center center / contain no-repeat;
}

.menu .Search {
    background: url("../img/icon-search.png") 0 0 / contain no-repeat;
}

.text {
    height: 261px;
    width: 598px;
    float: left;
    text-align: center;
    margin-left: 666px;
    margin-top: 309px;
}

.text h4 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.text h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.text P {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;

}

.text input {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 53px;
    text-align: center;
    margin-bottom: 20px;
    float: left;
    border: 0;
    margin-left: 210px;
    margin-top: 51px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px; /* Приближение из-за подстановки шрифтов */
    box-shadow: 0 3px 2px #786559;
    outline: 0;
}

.text input:hover {
    background-color: #a99685;
}

.text input:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}

.slider {
    float: right;
    margin-right: 895px;
    margin-top: 257px;
}

.slider li {
    height: 11px;
    width: 11px;
    list-style-type: none;
    float: left;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 3px solid transparent;
}

.slider li:hover {
    border: 3px solid #d3c1ad;
    background-color: transparent;
    transform: scale(1.2);
}

.web {
    width: 1920px;
    height: 400px;
    margin: auto;

}

#webAppGrid {
    display: grid;
    grid-template-columns: 345px repeat(4, 266px) 343px;
    grid-gap: 33px;
    padding-top: 89px;

}

.webApp {
    width: 266px;
    height: 213px;
    float: left;
}

.webApp h2 {
    font-family: Raleway;
    color: #555555;
    font-size: 22px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.webApp svg {
    fill: #555555;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    display: block;
    transition: 1s;
}

.webApp:hover svg {
    fill: #c7b299;
    transform: scale(1.2); /* scale увеличивает изображение */
}

.webApp:hover h2 {
    color: #c7b299;
}

.Block {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.bottom {
    background-color: #f1eee9;
    width: 70px;
    height: 3px;
    margin: 0 auto;
}

.webApp:hover .Block .bottom {
    background-color: #c7b299;
}

#leftArrow {
    width: 40px;
    height: 73px;
    background: url("../img/left.png");
    position: absolute;
    top: 475px;
    left: 150px;
}

#leftArrow:hover {
    transform: rotate(180deg);
    background: url("../img/right.png");
}

#rightArrow {
    width: 40px;
    height: 73px;
    background: url("../img/left.png");
    position: absolute;
    top: 475px;
    right: 150px;
    transform: rotate(180deg);

}

#rightArrow:hover {
    transform: rotate(0deg);
    background: url("../img/right.png");
}

.Ideas {
    background-color: #fbfaf8;
    width: 1920px;
    height: 679px;
}

.Realization {
    font-family: Raleway;
    color: #555555;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.Realiz {

    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;

}

.ShotImg {
    position: relative;
    margin-top: 40px;
}

.ShotImg .Shot {
    position: absolute;
    width: 770px;
    height: 482px;
    left: 630px;
}

.ShotImg .Shot {

    width: 770px;
    height: 400px;

}

.Bottom {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    width: 1920px;
    height: 150px;
}

.Bottom h3 {
    font-family: Raleway;
    color: #c7b299;
    font-size: 28px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    font-family: Raleway;
    color: #ffffff;
    font-size: 28px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    float: left;
    margin-left: 376px;
    margin-top: 48px;
}

.Bottom h4 {
    font-family: Montserrat;
    color: #615855;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    margin-left: -525px;
    float: left;
    margin-top: 88px;
}

.Button {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 53px;
    text-align: center;
    float: left;
    border: 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px; /* Приближение из-за подстановки шрифтов */
    box-shadow: 0 3px 2px #786559;
    outline: 0;
    margin-top: 50px;
    margin-left: 470px;
}

.Button:hover {
    background-color: #a99685;
}
.Button:active{
    position: relative;
    top: 2px;
    box-shadow: none;
}

.Projects {
    width: 1920px;
    text-align: center;
}

.Projects:after {
    content: ' ';
    clear: both;
    display: block;
}

.menuLi {
    list-style-type: none;
    margin-left: 658px;
    margin-top: 40px;
}

.menuLi a {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    min-width: 70px;
    height: 32px;
    box-shadow: 0 0 1px black;
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.menuLi a:hover{
    background-color: #998675;
    color:  #ffffff;
}


.Our {
    font-family: Raleway;
    color: #555555;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
}

.Investigationes {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    width: 757px;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0 auto;
}

.video {
    width: 1920px;
    height: 705px;
    background: url("../img/photo1.png");
}

.mob {
    background-color: #fbfaf8;
    width: 1920px;
    height: 695px;
}

.imgMod {
    background: url("../img/iPhone.png") center center/contain no-repeat;
    width: 423px;
    height: 616px;
    float: left;
    margin-left: 423px;
    margin-top: 79px;

}

.Excellent {
    font-family: Raleway;
    color: #555555;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding-top: 195px;

}

.Qisi {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: left;

}

.ul {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    float: left;
}

.ul li {
    background: url("../img/01.png") center left no-repeat;
    padding-left: 30px;
    list-style-type: none;
    margin-bottom: 12px;

}

.WaxomVideo {
    background: url("../img/icon-play.png") center center no-repeat;
    font-family: Raleway;
    color: #ffffff;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding-top: 354px;
}

.te {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.tem {
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.icon {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 410px repeat(5, 140px) 410px;
    grid-gap: 73px;
    align-items: center;
    justify-items: center;
    height: 300px;
}



.icon > div {
    height: 171px;
    width: 140px;
    text-align: center;
}

.icon> div div {
    width: 30px;
    height: 0;
    border-bottom: 1px solid #ffffff;
    border-radius: 25%;
    margin-left: 50px;
    margin-top: 30px;
}

.icon img {
    width: 44px;
    height: 44px;
}

.icon h3, .icon h4 {
    font-family: Montserrat;
    margin: 30px 0 21px;
    color: #ffffff;
    font-size: 48px; /* Приближение из-за подстановки шрифтов */
    font-weight: 200;
    line-height: 36px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.icon h4 {
    color: #c7b299;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0;
}

.Posts {
    width: 370px;
}

.Posts > p {
    margin: 0 auto;
    width: 757px;
}


.PostsGrid {
    display: grid;
    grid-template-columns: 376px repeat(3, 370px) 374px;
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
}

.PostsGrid > div {
    width: 370px;
    height: 395px;
    box-shadow: 0 0 1px #4a4a4a;
}
.PostsGrid > div .back {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
    z-index: 1;
    transition: 0.5s;
    opacity: 0;
}

.PostsGrid > div:hover .back {
    opacity: 1;
}

.PostsGrid > div:hover .postFooter {
    background-color: #362f2d;
}

.PostsGrid > div:hover .postFooter h4 {
    color: #c7b299;
}

.PostsGrid > div:hover .postFooter p {
    color: #ffffff;
}

.PostsGrid > div:hover .calendar div:first-child  {
    background-color: #c7b299;
}

.PostsGrid > div:hover .calendar div:last-child {
    background-color: #a48d72;
}

.PostsGrid > div .postImage {
    position: relative;
    width: 100%;
    height: 220px;
}

.PostsGrid > div .postFooter {
    width: 100%;
    height: 175px;
    background-color: #ffffff;
    transition: 0.4s;
}

.postFooter h4, .postFooter p, .postFooter a {
    float: left;
    text-align: left;
    margin-left: 30px;
}

.postFooter h4 {
    font-family: Raleway;
    margin-top: 30px;
    margin-bottom: 0;
    color: #555555;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
}

.postFooter p {
    font-family: Montserrat;
    margin-top: 19px;
    margin-bottom: 27px;
    color: #8c8c8c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
}

.postFooter a {
    font-family: Montserrat;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color: #c7b299;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-decoration: none;
}

.postFooter a:before {
    content: '';
    position: absolute;
    left: 85px;
    top: 6px;
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    z-index: 2;
    transition: 0.4s;
}

.Claritas {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
    float: left;
    width: 50px;
}

.Claritas div:first-child {
    transition: 0.4s;
    float: left;
    width: 50px;
    height: 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #363636;
    color: #ffffff;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.Claritas div:first-child:after {
    content: '30';
    line-height: 35px;
}

.Claritas div:last-child {
    font-family: Roboto;
    transition: 0.5s;
    float: left;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #252525;
    width: 50px;
    height: 25px;
    color: #ffffff;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.Claritas div:last-child:after {
    content: 'Sep.';
    line-height: 25px;
}


.Block {
    background-image: url("../img/photo20.png");
    min-height: 489px;
    display: grid;
    grid-template-columns: 316px repeat(4, 210px) 314px;
    grid-gap: 90px;
}

.Block img {
    margin-top: 140px;
    width: 210px;
    height: 210px;
    object-fit: contain;
    object-position: center center;
}