.Reviews {
  background-color: #f5f5f5
}

.Reviews:after {
  content: '';
  clear: both;
  display: block;
}

.Reviews h2 {
  padding-top: 50px;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.Reviews .comments {
  width: 640px;
  height: 121px;
  float: left;
  margin-bottom: 24px;

}

.Reviews .comments div {
  float: left;
  border-radius: 50%;
  background-color: #445161;
  width: 75px;
  height: 75px;
  margin-left: 50px;
}

.Reviews blockquote {
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  background: url("../img/review.png");
  width: 458px;
  height: 121px;
  float: left;
  margin: 0 0 0 16px;
  padding-left: 25px;
}

.Reviews p {
  color: #333333;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  text-align: left;
}

